<div class="container main-container">
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: white">Aguardando...</p>
  </ngx-spinner>
  <h1>Lista de Clientes</h1>

  <p>
    <a class="btn btn-info" [routerLink]="['/cliente/novo-cliente']">Novo Cliente</a>
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>
          {{ cliente.nome }}
        </td>
        <td>
          {{ cliente.cpf | cpf }}
        </td>
        <td>
          {{ cliente.email }}
        </td>
        <td class="text-right">
          <a class="btn btn-warning" [routerLink]="['/cliente/editar-cliente', cliente.id]"><span class="fa fa-pencil-alt"></span></a>&nbsp;
          <a class="btn btn-danger" (click)="open(excluir, cliente)"><span class="fa fa-trash"></span></a>&nbsp;
          <a class="btn btn-info" [routerLink]="['/cliente/editar-cliente', cliente.id]"><span class="fa fa-search"></span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #excluir let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Excluir Cliente</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>

    <div class="modal-body">
      <h3>Tem certeza que deseja excluir o cliente {{ cliente.nome }}?</h3>

      <div>
        <dl class="row">
          <dt class="col-sm-4">
            <label class="control-label">Nome:</label>
          </dt>
          <dd class="col-sm-8">
            {{ cliente.nome }}
          </dd>

          <dt class="col-sm-4">
            <label class="control-label">Cpf:</label>
          </dt>
          <dd class="col-sm-8">
            {{ cliente.cpf | cpf}}
          </dd>

          <dt class="col-sm-4">
            <label class="control-label">E-mail:</label>
          </dt>
          <dd class="col-sm-8">
            {{ cliente.email }}
          </dd>

          <dt class="col-sm-4">
            <label class="control-label">Data nascimento:</label>
          </dt>
          <dd class="col-sm-8">
            {{ dataNascimento }}
          </dd>
        </dl>
      </div>
    </div>

    <div class="modal-footer">
      <a class="btn btn-danger" href="javascript:void(0)" (click)="remove()">Excluir</a>&nbsp;
      <a class="btn btn-info" (click)="d('')">Voltar</a>
    </div>
  </ng-template>

</div>
